nav {
  height: 10vh;
}

.badge {
  background: #bce0ff;
  padding: 8px 17px;
  font-size: 12px;
}

.header-btn button {
  background: #ec406a;
}

.head-icon a {
  padding-right: 9px;
  font-size: 23px;
}

.learning .icon {
  font-size: 32px;
  padding-left: 19px;
  margin-right: -12px;
}

.detail {
  width: 118%;
  margin-right: -13px;
}

.main-learn ul {
  padding-right: 0px;
  margin-right: 5px;
}

.main-learn ul li {
  background-color: none !important;
  border: none !important;
  padding: 0;
}

.main-learn ul li P {
  color: #6c757d;
}

.comments .btn-group button {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
}

.comments .comment-title p {
  width: 104%;
  text-align: right;
  line-height: 1.7;
}

.comments .comment-title p span {
  padding: 2px 5px;
}

.comments .phone-icon {
  font-size: 31px;
  background: #ffcece;
  padding: 0px 12px;
  border-radius: 5px;
}

.comments .comment-text {
  width: 26%;
  margin-top: -25px;
  margin-right: 13px;
  padding-bottom: 1rem;
}

.commnets-comment .col-lg-6 .card::after {
  content: '';
  background: #ffbf00;
  width: 89%;
  height: 9px;
  position: absolute;
  top: 275px;
  border-radius: 22px;
  right: 18px;
  z-index: -1;
}

.question .btn-group button {
  font-size: 21px;
}

.question .btn-group button:hover {
  background: #6c757d;
  color: #fff;
}

.question .btn-group button:nth-child(1) {
  border-bottom-right-radius: 8px !important;
  border-top-right-radius: 8px !important;
  background: #ff3c6d;
  color: #fff;
}

.question .btn-group button:nth-child(2) {
  border-bottom-left-radius: 8px !important;
  border-top-left-radius: 8px !important;
}

.question .card {
  background: #eeeeee;
}

@media (max-width: 575.98px) {
  nav {
    width: 115%;
    height: 16vh;
  }
  .btn-comments {
    overflow: scroll;
    width: 108%;
  }
  .btn-comments .btn-group {
    width: 155% !important;
  }
  .img-head img {
    margin-right: 19px;
  }
  .header-top span {
    margin-left: -1rem !important;
  }
  .header-title p {
    width: 116%;
  }
  .comments .comment-title p {
    width: 117%;
  }
  .comments .comment-card .card {
    width: 110% !important;
  }
  .comments .commnets-comment {
    width: 110% !important;
  }
  .comments .commnets-comment .card::after {
    top: 321px;
  }
  .comment-title {
    width: 97%;
  }
  #call {
    text-align: center;
    width: 108%;
    padding-bottom: 2rem;
  }
  .btn-grouping {
    width: 102%;
    right: -40px;
    bottom: 0;
    z-index: 2;
  }
  .btn-grouping button:first-child {
    width: 44%;
    margin-bottom: 19px;
    margin-top: 20px;
  }
  .btn-grouping button:last-child {
    width: 46%;
  }
  .comment-progress {
    width: 110%;
  }
  .comment-progress .bg-light {
    height: 11vh !important;
    width: 103%;
  }
  .comment-text {
    width: 63% !important;
    margin-top: -27px !important;
  }
  .question {
    width: 111%;
  }
  .question h5 {
    margin-bottom: 30px;
  }
  .header-btn {
    margin-left: 43px;
  }
  .learning #card-learn {
    width: 110%;
  }
  .learning .col-lg-9 .card {
    width: 111%;
  }
  .learning .main-learn h2 {
    width: 110% !important;
  }
  .learning .main-learn .list-group {
    margin-right: -1px;
  }
  .comment-post {
    width: 110%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  nav {
    height: 6vh;
  }
  .header-btn {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    margin-bottom: 3rem;
  }
  .btn-comments .btn-group {
    width: 134% !important;
  }
  .showing {
    width: 137%;
  }
  .comment-card .card {
    width: 100% !important;
  }
  .commnets-comment .card::after {
    top: 226px !important;
    right: 25px !important;
  }
  #call {
    margin-bottom: 6rem !important;
    width: 139%;
  }
  .btn-grouping {
    width: 98%;
  }
  .btn-grouping button:first-child {
    width: 49%;
    margin-bottom: 19px;
    margin-top: 20px;
  }
  .btn-grouping button:last-child {
    width: 45%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  nav {
    height: 6vh;
  }
  .commnets-comment .card::after {
    top: 321px !important;
  }
}
/*# sourceMappingURL=style.css.map */